@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main{
  font-family: 'Acme', sans-serif;
  background-color: #2201f907;
  margin: 110px auto 10px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  min-height: 70vh;
}
section{
  display: flex;
  flex-direction: column;
  padding: 25px 50px;
}
.manage-button{
  background-color: #2201f9;
  color: #fff;
  border-radius: 2px;
  padding: 10px;
  margin: 10px;
}
#manage-news{
  background-color: #2201f91e;
}
#manage-users{
  background-color: #2201f91e;
}
.news-buttons{
  display: none;
}
.user-buttons{
  display: none;
}
.open-news-buttons{
  display: flex;
  flex-direction: column;
}
.open-user-buttons{
  display: flex;
  flex-direction: column;
}
@media(max-width:769px){
  main{
    display: flex;
    flex-direction: column;
  }
}