@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#hamburger{
  display: none;
}
.modal-back{
  position: fixed;
  background-color: rgba(0, 0, 0, 0.651);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 8;
}
.modal-on{
  position: absolute;
  min-height: 150px;
  min-width: 250px;
  background-color: #fff;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  color: green;
  text-align: center;
  justify-self: center;
  align-self: center;
  padding: 50px;
}
.modal-off{
  display: none;
}
header{
  font-family: 'Roboto Flex', sans-serif;
}
#header{
  display: flex;
  flex-direction: column;
  width: 100%;
}
#navbar{
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  position: relative;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 5;
}
#logo{
  width: 7%;
  justify-content: flex-start;
}
div img {
  width: 100%;
}
#news-categories{
  /* width: 65%; */
  height: 100%;
  align-items: center;
}
#news-categories #news-list-container{
  display: flex;
  list-style: none;
  justify-content: space-around;
  color: #2201f9;
  width: 100%;
  margin: 30px auto 5px auto;
  font-size: 1.2rem;
}
#news-categories #news-list-container a{
  text-decoration: none;
  color: #2201f9;
  margin: 0 10px;
}
#nav-border{
  border: #2201f9 solid 1px;
}
#search{
  width: 20%;
  display: flex;
  margin-right: 0;
  justify-content: flex-end;
}
#search-input{
  border: #2201f9 1px solid;
  color: #2201f9;
  width: 90%;
  margin: 30px 0px 0px 0px;
  font-size: 1rem;
  margin-left: 0;
  padding: 0px 10px;
  height: 45%;
  border-radius: 3px;
}
#search-input:focus {
	outline: none;
  border: 2px solid #2201f9;
}
#search-button{
  width: 10%;
  justify-content: stretch;
  height: 45%;
  margin: 30px 0px 0px 0px;
  padding: 5px;
  background-color: #2201f9;
  border: none;
  border-radius: 3px;
}
#top-stories{
  height: 50vh;
  width: 100%;
  background-color: #2201f9;
  margin: 90px 0 5px 0;
  display: flex;
  justify-content: space-between;
  align-content: center;
}
#subject-container{
  width: 50%;
  height: 100%;
  margin: 7% auto;
}
#image-container{
  width: 50%;
  height: 100%;
}
#user{
  position: fixed;
  top: 10%;
  right: 5%;
  padding: 20px 0;
  text-align: right;
  color: #2201f9;
  /* background-color: #2201f9; */
}
#user summary{
  /* list-style: none; */
  cursor: pointer;
}
#user p{
  margin: 10px auto 10px 0px;
  cursor: pointer;
}
#subject{
  color: white;
  width: 80%;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  margin: 20px;
  background-color: #2201f969;
}
#image-container #top-story-img{
  height: 100%;
  width: 100%;
  padding: 1px;
}
#image-container #top-story-vid{
  height: 100%;
  width: 100%;
  padding: 1px;
}
#slide-icon-container{
  position: relative;
  top: 80%;
  left: -50%;
  display: flex;
}
.slide-icon{
  height: 2vh;
  width: 2vh;
  background-color: rgba(255, 255, 255, 0.63);
  border-radius: 50%;
  margin: 0 10px;
}
.current-slide-icon{
  background-color: #fff;
}
.modal{
  display: none;
}
#modal-background .news-categories-mobile .news-cat-container{
  display: none;
}
@media(max-width: 1000px){
  body{
    position: relative;
  }
  header{
    max-width: 100vw;
  }
  #navbar{
    width: 100vw;
    position: static;
    padding-top: 20px;
    flex-direction: row-reverse;
    background-color: #2201f90e;
  }
  hr{
    display: none;
  }
  header #navbar #news-categories{
    display: none;
  }
  #modal-background .news-categories-mobile ul li{
    min-width: 80%;
    max-width: 90%;
    border-bottom: #2201f9 solid 1px;
  }
  #user{
    top: 8%;
    position: absolute;
  }
 body #modal-background .news-categories-mobile .open-news-categories-mobile{
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 50%;
    padding: 50px 0;
    justify-content: center;
    align-items: center;
    left: 0%;
    top: 0;
    color: #2201f9;
    background-color: #f2f0fe;
    text-align: left;
    height: 100vh;
    z-index: 7;
    animation: nav-slide 0.5s ease-in;
  }
  @keyframes nav-slide {
    0%{
      left: -100%
    }
    100%{
      left: 0%;
    }
  }
  body #modal-background .news-categories-mobile .open-news-categories-mobile li{
    list-style: none;
    padding: 5px;
    margin: 5px;
  }
  body #modal-background .news-categories-mobile .open-news-categories-mobile li a{
    color: #2201f9;
    padding: 20px;
    font-size: 1rem;
    font-weight: 500;
    padding-left: 20px;
  }
  .news-categories-mobile #news-list-container-mobile{
    height: 100%;
  }
  #void{
    position: absolute;
    width: 50%;
    left: 50%;
    top: 0;
    height: 100vh;
  }
  #search{
    width: 50%;
    align-self: center;
    justify-self: center;
    margin: 0;
    padding: 0;
  }
  #search-input{
    width: 100%;
    align-self: center;
    height: 27px;
    margin: 0;
  }
  #search-button{
    height: 27px;
    width: 27px;
    margin: 0;
  }
  #hamburger{
    display: block;
    color: #2201f9;
    align-self: center;
    font-size: 1.5rem;
  }
  .close{
    display: block;
    position: absolute;
    color: #2201f9;
    top: 3%;
    left: 10%;
    font-size: 1.5rem;
    z-index: 10;
  }
  #logo{
    align-self: center;
    width: 10%;
  }
  #subject{
    font-size: 1.2rem;
  }
  #top-stories{
    display: none;
    width: 100%;
    height: 40vh;
    justify-content: flex-end;
  }
  #subject-container{
    width: 40%;
  }
  #image-container{
    width: 70%;
  }
  #subject{
    padding: 20px;
  }
  body .modal-background{
    display: block;
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 6;
  }
  #modal-background .news-categories-mobile ul li:hover{
    background-color: #2201f9;
    color: #fff;
  }
  #modal-background .news-categories-mobile ul li a:hover{
    color: #fff;
  }
}
@media (max-width: 860px){
  #user{
    top: 7%;
    position: absolute;
  }
}
@media(max-width: 550px){
  body #modal-background .news-categories-mobile .open-news-categories-mobile{
    width: 70%;
  }
  #user{
    top: 7%;
    position: absolute;
  }
  #void{
    width: 30%;
    left: 70%;
  }
  #logo{
    width: 15%;
  }
  #top-stories{
    display: none;
    height: 40vh;
    position: relative;
  }
  #subject-container{
    width: 100%;
  }
  #image-container{
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
  }
  #subject{
    position: absolute;
    text-align: center;
    padding: 0;
    width: 100%;
    height: 50%;
    margin: 0px auto;
    bottom: 0;
    font-size: 1.2rem;
    font-weight: 200;
    z-index: 3;
  }
  #search{
    width: 60%;
  }
  #slide-icon-container{
    top: 0;
    left: -50%;
    margin: 30px auto;
    text-align: center;
    width: 100%;
  }
}
@media(max-height:438px){
  .close{
    color: #fff;
    top: 3%;
    left: 90%;
    font-size: 30px;
    z-index: 10;
  }
  #hamburger{
    font-size: 30px;
  }
}